<div class="hero">
  <div class="large-12 centered columns">
    <h1>Welcome to my Though Shaped Box</h1>
    <br>

    <h3>New users can <%= link_to "Sign Up Here", '#' %></h3>
    <br>

    <h2>Current users can <%= link_to "Log In", '#' %></h2>
  </div>
</div>
